.vscode/settings.json
git-submodule-demo/bin/Debug/net10.0/git-submodule-demo.deps.json
git-submodule-demo/bin/Debug/net10.0/git-submodule-demo.dll
git-submodule-demo/bin/Debug/net10.0/git-submodule-demo.pdb
git-submodule-demo/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
git-submodule-demo/obj/Debug/net10.0/git-submodule-demo.AssemblyInfo.cs
git-submodule-demo/obj/Debug/net10.0/git-submodule-demo.AssemblyInfoInputs.cache
git-submodule-demo/obj/Debug/net10.0/git-submodule-demo.assets.cache
git-submodule-demo/obj/Debug/net10.0/git-submodule-demo.csproj.CoreCompileInputs.cache
git-submodule-demo/obj/Debug/net10.0/git-submodule-demo.csproj.FileListAbsolute.txt
git-submodule-demo/obj/Debug/net10.0/git-submodule-demo.dll
git-submodule-demo/obj/Debug/net10.0/git-submodule-demo.GeneratedMSBuildEditorConfig.editorconfig
git-submodule-demo/obj/Debug/net10.0/git-submodule-demo.GlobalUsings.g.cs
git-submodule-demo/obj/Debug/net10.0/git-submodule-demo.pdb
git-submodule-demo/obj/Debug/net10.0/ref/git-submodule-demo.dll
git-submodule-demo/obj/Debug/net10.0/refint/git-submodule-demo.dll
git-submodule-demo/obj/git-submodule-demo.csproj.nuget.dgspec.json
git-submodule-demo/obj/git-submodule-demo.csproj.nuget.g.props
git-submodule-demo/obj/git-submodule-demo.csproj.nuget.g.targets
git-submodule-demo/obj/project.assets.json
git-submodule-demo/obj/project.nuget.cache
